.router-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 56px);
  overflow: hidden;
}

:host ::ng-deep router-outlet ~ * {
  animation: fadeIn 0.3s ease-in-out;
  height: 100%;
  overflow: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
