<div class="bottom-nav-container">
  <p-divider></p-divider>
  
  <div class="nav-content">
    <p-splitter [style]="{ height: '60px' }" styleClass="custom-splitter" layout="horizontal">
      <ng-template *ngFor="let item of navItems; let i = index" pTemplate>
        <div 
          class="nav-item"
          [class.destaque]="item.isDestaque"
          [class.active]="activeIndex === i"
          [pTooltip]="item.tooltip"
          tooltipPosition="top"
          (click)="onItemClick(item, i)">
          <i [class]="item.icon + ' nav-icon'"></i>
          <span class="nav-label">{{ item.label }}</span>
        </div>
      </ng-template>
    </p-splitter>
  </div>
</div>