<!-- src/app/private/features/caronas/pages/carona-page-listar/carona-page-listar.component.html -->

<!-- ✅ Menu-bar com logout -->
<app-menu-bar
  [title]="'Minhas Caronas'"
  [showBackButton]="false"
  [showLogoutButton]="true">
</app-menu-bar>

<div class="listar-caronas-container">
  <div class="content">
    <p>Aqui você verá a lista de caronas disponíveis...</p>

    <div class="lista-cards">
      <app-card-carona 
        *ngFor="let carona of caronas" 
        [carona]="carona">
      </app-card-carona>
      <br/>
      <br/>
      <p></p>
    </div>
  </div>
</div>

<app-bottom-nav></app-bottom-nav>